# Ignore virtual environments
.venv/
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore temporary data
data/prepared/
data/processed/

# Ignore system files
.DS_Store
Thumbs.db